extends layout

block content
  h1= title
  button Step
  pre yay
  
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
  script(src='/javascripts/data.js')
  script(src='/javascripts/data-controller.js')