extends layout

block content
  h1= title
  
  script(src='http://d3js.org/d3.v3.min.js')
  script(src='/javascripts/main.js')
  script(src='/javascripts/revenue.js')
  script(src='/javascripts/footTraffic.js')
  script(src='/javascripts/promotions.js')
  script(src='/javascripts/returns.js')