doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src='http://localhost:35729/livereload.js?snipver=1')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='/javascripts/data.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/revenue.js')
    script(src='/javascripts/footTraffic.js')
    script(src='/javascripts/promotions.js')
    script(src='/javascripts/returns.js')
