extends layout

block content
  h1= title
  
  script(src='http://d3js.org/d3.v3.min.js')
  script(src='/javascripts/data.js')
  script(src='/javascripts/lines.js')
  script(src='https://gist.github.com/4689515.js')