body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* SVG CSS */
body {
  font: 12px Arial, sans-serif;
  /*shape-rendering: crispEdges;*/
}

svg, pre, code {
    background-color: lightgray;
}

pre, code {
    font: Consolas;
    overflow: hidden;
    padding: 7px;
}

text {
  text-anchor: middle;
}

#arc path {
  stroke: none;
}

#arc .label {
  fill: black;
  stroke: white;
  stroke-width: 1px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
#arc .labelPath {
  stroke: black;
}

path {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

path.area {
  fill: steelblue;
  stroke: none;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
}
#promotionAmt {
  opacity: 0.5;
}
#salesAmt {
  opacity: 0.7;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.RdYlGn .q0-11, .q0-11 {fill:rgb(165,0,38)}
.RdYlGn .q1-11, .q1-11 {fill:rgb(215,48,39)}
.RdYlGn .q2-11, .q2-11 {fill:rgb(244,109,67)}
.RdYlGn .q3-11, .q3-11 {fill:rgb(253,174,97)}
.RdYlGn .q4-11, .q4-11 {fill:rgb(254,224,139)}
.RdYlGn .q5-11, .q5-11 {fill:rgb(255,255,191)}
.RdYlGn .q6-11, .q6-11 {fill:rgb(217,239,139)}
.RdYlGn .q7-11, .q7-11 {fill:rgb(166,217,106)}
.RdYlGn .q8-11, .q8-11 {fill:rgb(102,189,99)}
.RdYlGn .q9-11, .q9-11 {fill:rgb(26,152,80)}
.RdYlGn .q10-1, .q10-11 {fill:rgb(0,104,55)}

.chart rect {
   fill: steelblue;
 stroke: white;
}
